html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Source Sans 3', sans-serif;
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #C6C6C6;
}

#logo {
    width: 127px;
}

#user-avatar {
    width: 34px;
    border-radius: 50%;
}

/* POST CONTENT */
.profile {
    display: flex;
    align-items: center;
    padding: 10px;
}

.profile-avatar {
    width: 34px;
    border-radius: 50%;
}

.profile p {
    margin: 0 0 0 10px;
}

.bold-text {
    font-weight: bold;
}

.img-post {
    width: 100%;
}

/* REACTIONS, LIKES, CAPTION SECTION */
.reactions {
    padding: 10px;
}

.icons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: fit-content;
}

.icons img {
    width: 25px;
}

.icons img:hover, .icons img:focus {
    opacity: 0.5;
    cursor: pointer;
}

.profile-username {
    margin-right: 10px;
    cursor: pointer;
}